{% extends 'books/main_page.html' %}

{% block title %}
    Список книг
{% endblock %}

{% block content %}
    <table style="border: 1px solid black">
        <tr>
            <td>
                <form action="{% url 'books:all_books_sorted' %}" method="POST">
                    {% csrf_token %}
                    Название <input type="submit" value="OK" name="sort">
                </form>
            </td>
            <td>Жанр</td>
            <td>Год выпуска</td>
            <td>Общее количество</td>
            <td>Доступно</td>
            <td></td>
        </tr>
        {% for book in books %}
            <tr>
                <td><a href="{% url 'books:book_detail' book.id %}">{{ book.ru_title }}</a></td>
                {#                {% for genre in  %}#}
                <td>{{ book.genre.all|join:', ' }}</td>
                {#                    {% endfor %}#}
                <td>{{ book.year }}</td>
                <td>{{ book.qty }}</td>
                <td></td>
                <td><a href="{% url 'books:edit_book' book.id %}">Редактировать</a></td>

            </tr>
        {% endfor %}


    </table>
{% endblock %}