{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'books/css/style.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Библиотека :: {% block title %}Главная страница{% endblock %}</title>
</head>

{% block nav %}
    <div style="height: 50px; width: 90%; border: 1px solid black; margin-bottom: 10px; padding: 5px;">
    <li style="display: flex; ">
        <ul><a href="{% url 'books:main_page' %}" style="text-decoration: none">Главная</a></ul>
        <ul><a href="{% url 'books:all_books' %}" style="text-decoration: none">Все книги</a></ul>
        <ul><a href="{% url 'books:add_book' %}" style="text-decoration: none">Добавить книгу</a></ul>
        <ul><a href="{% url 'people:main_page' %}" style="text-decoration: none">ЧИТАТЕЛИ</a></ul>
    </li>

    </div>
{% endblock %}

{% block content %}
    <body>
    <div class="textdiv">
        <p>Всем привет на главной странице нашей библиотеки!</p>
    </div>
    </body>
{% endblock %}
</html>